.button, button {
    padding: 1rem 0;
    margin: auto;
    cursor: pointer;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 1px;
    width: 15%;
}
 a {
    text-decoration: none;
 }
  
  .action__button:hover {
    cursor: pointer;
  }

  .action__button{
    align-self: start;
    margin-left: 1px;
    color: $color-white;
    margin: 2px !important;
  }

  .action__button--full{
    width: 90%;
  }

  .action__button--add {    
    background-color: $color-secondary;
  }
  .action__button--save {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-success-dark;
  }

  .action__button--saveas {
    background-color: $color-success-dark;
  }
  
  .action__button--removelast {
    background-color: $color-warning-dark;
  }
   
  .action__button--clearall {
    background-color: $color-danger-dark;
  }
  
  .action__button--list {
    background-color: $color-neutral-2;
  }