//colors
$color-primary: #182D56;
$color-secondary: #55A8FD;
$color-tertiary: #E8EEF1;

$color-white: #fff;
$color-neutral-1: #EEEEEE;
$color-neutral-2: #CCCCCC;
$color-neutral-3: #999;
$color-neutral-4: #666;
$color-black: #333;

$color-success-dark: #47B122;
$color-success-light: #9BC541;
$color-warning-dark: #E9E200;
$color-warning-light: #FFF700;
$color-danger-dark: #DF1A19;
$color-danger-light: #F75656;

// size of sidebars of the frame
$sidebar-size: 120px;