@import "../styles/variables";

.welcome-container{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

mat-card{
    height: 200px;
    width: 400px;
    padding: 2rem;
}