@import '../styles//variables';

.home-container{
    display: table;
    height: 100%;
    width: 100%;
}
.home__left-pane{
    float: left;
    width: 20%;
    height: 100%;
    background-color: $color-neutral-1;
    border-right: 1px solid $color-neutral-2;
}
.home__right-pane{
    float: right;
    height: 100%;
    width: 80%;
    background-color: $color-white;
}

#map {
    width: 100%;
    height: 100%;
}