<div class="home-container">
    <div class="home__left-pane">

        <button mat-icon-button (click)="closeMobileMenu()" *ngIf="isMobile" class="close-button-mobile action__button action__button--clearall">
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
        </button>

        <button mat-raised-button (click)="activateFlightPlan()" *ngIf="this.flightPoints.length == 0" class="action__button action__button--full action__button--add">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>

        <button mat-raised-button (click)="saveTheSameFlight()" *ngIf="this.flightPoints.length > 0 && this.insertedFlight"
            class="action__button action__button--save">
            <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
        </button>

        <button mat-raised-button (click)="saveFlight()" *ngIf="this.flightPoints.length > 0" class="action__button action__button--saveas">
            <mat-icon aria-label="Example icon-button with a heart icon">save_alt</mat-icon>
        </button>
        <button mat-raised-button (click)="removeLastMarker()" *ngIf="flightPoints.length > 0" class="action__button action__button--removelast">
            <mat-icon aria-label="Example icon-button with a heart icon">undo</mat-icon>
        </button>
        <button mat-raised-button (click)="clearFlightPlan()" *ngIf="flightPoints.length > 0" class="action__button action__button--clearall">
            <mat-icon aria-label="Example icon-button with a heart icon">layers_clear</mat-icon>
        </button>

        <flight-list [items]="flightStoredList" (clickEmitter)="insertFlightPath($event)"></flight-list>

        <button mat-raised-button (click)="unselectAll()" [disabled]="!unselectButton" class="action__button action__button--full action__button--clearall">
            <mat-icon aria-label="Example icon-button with a heart icon">clear_all</mat-icon>
        </button>
    </div>
    <div class="home__right-pane">
        <input id="pac-input" class="controls" type="text" placeholder="Find place">
        <div #map id="map"></div>


        <button mat-raised-button (click)="openMobileMenu()" class="menu-mobile action__button action__button--save">
            <mat-icon aria-label="Example icon-button with a heart icon">clear_all</mat-icon>
        </button>
    </div>
</div>